header {
	display: flex;
	justify-content: space-between; /* Pour pousser les éléments aux extrémités */
	align-items: center;            /* Pour centrer verticalement */
	padding: 1rem 2rem;
	background-color: rgb(255, 255, 255);
}

nav ul {
	display: flex;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Arial, sans-serif;
	background-color: #f0f4f8;
	color: #3b2230;
}
